body {
  padding:0;
  margin:0;
}

input {
  width: 85%;
  height: 45%;
  font-size: 1.2em;
  border-radius:5px;
  outline: none;
  justify-self:center;
  border:2px solid #5f9ea0;
  padding-left: 3%;
  color : #5f9ea0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input, select, textarea{
    color: #5f9ea0;
}

button{
  outline: none;
  font-size: 1em;
  align-self: center;
  justify-self:center;
}

.main-container{
  width:100%;
  height: 100vh;
}

.form-container{
    width: 30%;
    height:40%;
    border:3px solid #5f9ea0;
    border-radius:10px;
    margin: 10% 35%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.input-container{
  width:100%;
  display:grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.submit-button{
   width: 85%;
   height: 45%;
   border: 2px solid #5f9ea0;
   border-radius: 5px;
   color: white;
   background-color: #5f9ea0;
}

.submit-button:hover{
   background-color: white;
   color: #5f9ea0;
}

.main-orders-container{
  width:100%;
  min-height:100vh;
  display:inline-block;
}

.table-row{
  float:left;
  width:100%;
  height:60px;
  display:grid;
  grid-template-columns: 2fr 2fr 2fr 3fr 2fr 2fr 2fr 1fr 1fr 1fr ; 
  border-bottom: 1px solid #9fc4c6;
}

.table-in{
  display:grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  color: white; 
}

.text{
  color: #436e70;
}

.confirm-button{
   width: 60%;
   height: 50%;
   border: 2px solid #9fc4c6;
   background-color:white;
}

.logout_button{
   width: 100%;
   height: 50%;
   color:white;
   border:none;
   background-color: #9fc4c6;
}

.material-icons.md-36.orange{
  color:orange;
}

.material-icons.md-36.green{
  color:green;
}

.material-icons.md-36.check{
  color:green;
}

.material-icons.md-36.builder{
  color:orange;
}

.material-icons.md-36.remove{
  color:red;
}

.custom-ui{
  background-color: #9fc4c6;
  width: 400px;
  height: 200px;
  text-align: center;
  color: white;
  display: grid;
  grid-template-rows:30% 30% 40%;
}

.custom-ui-in{
  display: grid;
  grid-template-rows:1fr;
  align-items: center;
  justify-content: center;
}

.custom-ui-buttons{
  display: grid;
  grid-template-columns:1fr 1fr;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 1.7em;
}

.content{
  font-size: 1.3em;
}

.alertButton{
  width: 80%;
  height: 40px;
  background-color: transparent;
  border:1px solid white;
  color: white;
  font-size: 1.5em;
}

.alertButton:hover{
  background-color: white; 
  color:#9fc4c6;
}






